*
!/examples/
!/examples/2204355.com.zone
!/examples/bestratereview.com.zone
!/examples/clarkn.co.jp.zone
!/examples/_defaults.zone
!/examples/hironavi.com.zone
!/examples/hiroshimajobnavi.com.zone
!/examples/je.gy.zone
!/examples/leetforms.com.zone
!/examples/notatel.com.zone
!/examples/pyusoft.com.zone
!/examples/regery.json
!/examples/roteni.com.zone
!/examples/southtowntattoocollective.com.zone
!/examples/stripemerchant.com.zone
!/examples/tattoocollectivereno.com.zone
!/examples/telnyx.json
!/examples/valgrid.co.zone
!/examples/vec4me.com.zone
!/fconf
!/.gitignore
!/pyproject.toml
!/README.md
!/ruff.toml
!/src/
!/src/cloudflare.py
!/src/configuration.py
!/src/__init__.py
!/src/main.py
!/src/reconciliation.py
!/src/regery.py
!/src/telnyx.py
!/src/zone_file.py
!/tests/
!/tests/preserve_configuration_invariants.py
!/tools/
!/tools/check.sh
!/tools/clean.sh
